name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build (Release)
      run: dotnet build --no-restore -c Release

    - name: Test (Release)
      run: dotnet test --no-build -c Release --verbosity normal

    - name: Publish (Release)
      run: dotnet publish .\GameArchiver\GameArchiver.csproj --no-build -c Release

    - name: Upload published artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: GameArchiver\bin\Release\net10.0\publish\
        if-no-files-found: error
